.チーム名{
    padding: 18px;
}

.日時{
    padding: 18px;
}

.会場{
    padding: 18px;
}

.備考{
    padding: 18px;
}


#home {
    min-height: 180vh;
}

body {
    text-align    : center; 
    color:white;
}
